<a href="https://colab.research.google.com/github/Xayzan/Ybif-Project/blob/main/Bike_Prices.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd

In [ ]:
import numpy as np

In [ ]:
import matplotlib.pyplot as plt

In [ ]:
import seaborn as sns

In [ ]:
df=pd.read_csv('https://github.com/YBI-Foundation/Dataset/raw/main/Bike%20Prices.csv')

In [ ]:
df.head()

,Brand,Model,Selling_Price,Year,Seller_Type,Owner,KM_Driven,Ex_Showroom_Price
0,TVS,TVS XL 100,30000,2017,Individual,1st owner,8000,30490.0
1,Bajaj,Bajaj ct 100,18000,2017,Individual,1st owner,35000,32000.0
2,Yo,Yo Style,20000,2011,Individual,1st owner,10000,37675.0
3,Bajaj,Bajaj Discover 100,25000,2010,Individual,1st owner,43000,42859.0
4,Bajaj,Bajaj Discover 100,24999,2012,Individual,2nd owner,35000,42859.0

In [ ]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1061 entries, 0 to 1060
Data columns (total 8 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   Brand              1061 non-null   object
 1   Model              1061 non-null   object
 2   Selling_Price      1061 non-null   int64
 3   Year               1061 non-null   int64
 4   Seller_Type        1061 non-null   object
 5   Owner              1061 non-null   object
 6   KM_Driven          1061 non-null   int64
 7   Ex_Showroom_Price  626 non-null    float64
dtypes: float64(1), int64(3), object(4)
memory usage: 66.4+ KB

In [ ]:
df.describe()

       Selling_Price         Year      KM_Driven  Ex_Showroom_Price
count    1061.000000  1061.000000    1061.000000       6.260000e+02
mean    59638.151744  2013.867107   34359.833176       8.795871e+04
std     56304.291973     4.301191   51623.152702       7.749659e+04
min      5000.000000  1988.000000     350.000000       3.049000e+04
25%     28000.000000  2011.000000   13500.000000       5.485200e+04
50%     45000.000000  2015.000000   25000.000000       7.275250e+04
75%     70000.000000  2017.000000   43000.000000       8.703150e+04
max    760000.000000  2020.000000  880000.000000       1.278000e+06

In [ ]:
df[['Brand']].value_counts()

Brand
Bajaj       260
Hero        232
Honda       204
Royal       109
Yamaha      102
TVS          69
Suzuki       30
KTM          24
Mahindra      6
Vespa         4
Kawasaki      4
UM            3
Activa        3
Jawa          3
Aprilia       2
Harley        2
Hyosung       1
Benelli       1
BMW           1
Yo            1
dtype: int64

In [ ]:
df.columns

Index(['Brand', 'Model', 'Selling_Price', 'Year', 'Seller_Type', 'Owner',
       'KM_Driven', 'Ex_Showroom_Price'],
      dtype='object')

In [ ]:
df[['Model']].value_counts()

Model
Bajaj Pulsar 150             41
Royal Enfield Classic 350    27
Honda Activa [2000-2015]     23
Honda CB Hornet 160R         22
Bajaj Pulsar 180             20
                             ..
Hero Honda CD100SS            1
Hero Honda Karizma            1
Royal Enfield Machismo        1
Hero Honda Passion            1
Yo Style                      1
Length: 279, dtype: int64

In [ ]:
df[['Seller_Type']].value_counts()

Seller_Type
0              1055
1                 6
dtype: int64

In [ ]:
df.replace({'Seller_Type':{'Individual':0,'Dealer':1}},inplace=True)

In [ ]:
df[['Owner']].value_counts()

Owner
0        924
1        123
2         11
3          3
dtype: int64

In [ ]:
df.replace({'Owner':{'1st owner':0,'2nd owner':1,'3rd owner':2,'4th owner':3}},inplace=True)

In [ ]:
df.shape

(1061, 8)

In [ ]:
y=df['Selling_Price']

In [ ]:
y.shape

(1061,)

In [ ]:
y

0       30000
1       18000
2       20000
3       25000
4       24999
        ...
1056    90000
1057    20000
1058    60000
1059    40000
1060    35000
Name: Selling_Price, Length: 1061, dtype: int64

In [ ]:
x=df[['Year','Seller_Type','Owner','KM_Driven', 'Ex_Showroom_Price'
       ]]

In [ ]:
x.shape

(1061, 5)

In [ ]:
x

      Year  Seller_Type  Owner  KM_Driven  Ex_Showroom_Price
0     2017            0      0       8000            30490.0
1     2017            0      0      35000            32000.0
2     2011            0      0      10000            37675.0
3     2010            0      0      43000            42859.0
4     2012            0      1      35000            42859.0
...    ...          ...    ...        ...                ...
1056  2012            0      0      40000                NaN
1057  2010            0      0      17000                NaN
1058  2014            0      0      16000                NaN
1059  2009            0      0      50000                NaN
1060  2012            0      0      60000                NaN

[1061 rows x 5 columns]

In [ ]:
from sklearn.model_selection import train_test_split

In [ ]:
x_train,x_test,y_train,y_test=train_test_split(x,y,test_size=0.3,random_state=19529)

In [ ]:
x_train.shape,x_test.shape,y_train.shape,y_test.shape

((742, 5), (319, 5), (742,), (319,))

In [ ]:
from sklearn.linear_model import LinearRegression

In [ ]:
lr=LinearRegression()

In [ ]:
lr.fit(x_train,y_train)

ValueError: ignored

In [ ]:
y_pred=lr.predict(x_test)

In [ ]:
y_pred.shape

In [ ]:
y_pred

In [ ]:
from sklearn.metrics import mean_absolute_error, mean_squared_error, r2_score

In [ ]:
mean_absolute_error(y_test,y_pred)

In [ ]:
mean_squared_error(y_test,y_pred)

In [ ]:
r2_score(y_test,y_pred)

1.0

In [ ]:
plt.scatter(y_test,y_pred)
plt.xlabel('Actual Prices')
plt.ylabel('Predicted Prices')
plt.title('Actual Prices VS Predicted Prices')
plt.show()

In [ ]:
df_new=df.sample(1)

In [ ]:
df_new

,Brand,Model,Selling_Price,Year,Seller_Type,Owner,KM_Driven,Ex_Showroom_Price
481,Honda,Honda CB Hornet 160R,65000,2016,0,0,30000,88161.0

In [ ]:
df_new.shape

(1, 8)

In [ ]:
x_new=df_new.drop(['Brand','Model','Selling_Price'],axis=1)

In [ ]:
y_pred_new=lr.predict(x_new)

In [ ]:
y_pred_new